@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1 px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-color);
}

:root {
  --main-color: #212121;
  --logo-color: #2196F3;
  --link-color: #757575;
  --link-color1: #AFB1B8;
  --bg-color: #2F303A;
  --bg-icon-team: #F5F4FA;
  --light-logo-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

button {
  font-family: inherit;
  cursor: pointer;
  justify-content: center;
  display: flex;
  color: #F5F4FA;
}

img {
  display: block;
  /*width: 100%;*/
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 320px) {
  .title-section .container {
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}
@media screen and (min-width: 320px) {
  .title-section .container {
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}
@media screen and (min-width: 768px) {
  .title-section .container {
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}
@media screen and (min-width: 1200px) {
  .title-section .container {
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 280px;
  }
}
@media screen and (min-width: 320px) {
  .page-header .container {
    position: relative;
    align-items: center;
    height: 60px;
    max-width: 320px;
    padding: 0 15px;
  }

  .page-header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .advantages .container {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .page-header .container {
    align-items: center;
    height: 60px;
    max-width: 480px;
    padding: 0 15px;
  }

  .page-header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .advantages .container {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-header .container {
    align-items: center;
    height: 80px;
    max-width: 768px;
  }

  .page-header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .advantages .container {
    justify-content: center;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header .container {
    align-items: center;
    height: 80px;
    max-width: 1200px;
  }

  .page-header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .advantages .container {
    padding-top: 94px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  background: rgba(0, 0, 0, 0.2);
  transition-property: transform, scale, opacity;
  transition: 2500ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: modalmove;
  animation-duration: 4000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden.modal {
  transform: translate(-50%);
  transition: 2500ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .modal__tittle {
    width: 370px;
    height: 60px;
  }
  .modal__close-btn {
    left: 412px;
  }

  .modal-inputs {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__tittle {
    width: 448px;
    height: 23px;
    margin-bottom: 12px;
  }
  .modal__close-btn {
    left: 490px;
  }
  .modal .modal-inputs {
    width: 448px;
    height: 342px;
  }
}
.modal {
  /* Okno modalne */
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, scale, opacity;
  transform: translate(-50%, -50%);
}
.modal__tittle {
  /* Zostaw swoje dane w formularzu poniżej */
  position: absolute;
  left: 40px;
  top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__close-btn {
  /* close */
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--main-color);
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 15px;
  display: block;
  justify-items: center;
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: relative;
  left: 12px;
  bottom: 28px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes modalmove {
  0% {
    transform: scale(0%);
    opacity: 0.7;
  }
  50% {
    transform: scale(50%);
    opacity: 0.7;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
.modal-inputs {
  /* Inputs */
  position: absolute;
  left: 40px;
  top: 75px;
}
.modal-inputs__label {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 0;
}
.modal-inputs__label:nth-child(4) {
  height: 120px;
}
.modal-inputs__label:focus-within {
  fill: #2196F3;
  /*color: var(--main-color);*/
}
.modal-inputs__input, .modal-inputs__textarea {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition-property: color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inputs__input:focus, .modal-inputs__textarea:focus {
  border: 1px solid var(--logo-color);
  fill: #2196F3;
  outline: none;
  color: #000000;
}

.modal-inputs__textarea--position {
  resize: none;
  text-align: left;
  height: 120px;
  padding-left: 16px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.checkbox__link {
  text-decoration: underline;
  color: var(--logo-color);
}
.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.checkbox__text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid var(--main-color);
  border-radius: 2px;
  border: none;
  margin-right: 5px;
}

.checkbox__input:checked + .checkbox__text::before {
  background-color: var(--logo-color);
  background-image: url(../images/input.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--logo-color);
  outline: var(--logo-color);
}

.modal-button {
  width: 200px;
  height: 50px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--logo-color) solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-logo-color);
  margin: 30px auto 40px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-color);
}
.logo:hover {
  text-decoration-color: var(--logo-color);
}
.logo--accent-header {
  color: var(--main-color);
}
.logo--accent-footer {
  color: var(--logo-color);
}
.logo--accent-footer-light {
  color: var(--light-logo-color);
}

@media screen and (min-width: 320px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 83px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196F3;
  }
  .navigation__link--active::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    background-color: #2196F3;
    position: relative;
    top: 28px;
    margin-bottom: -6px;
  }
  .navigation__item {
    position: relative;
  }
  .navigation__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 93px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196F3;
  }
  .navigation__link--active::after {
    content: "";
    display: flex;
    width: 53px;
    height: 4px;
    background-color: #2196F3;
    position: relative;
    top: 28px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
}
.portfolio-buttons-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding-bottom: 40px;
  margin-top: 60px;
}

.portfolio-buttons__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.portfolio-buttons__item:not(:last-child) {
  padding-right: 8px;
}
.portfolio-buttons__button {
  padding: 6px 22px;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: 0.03em;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons__button:hover, .portfolio-buttons__button:focus, .portfolio-buttons__button:active {
  background-color: var(--logo-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons-list {
    list-style: none;
    padding: 0;
    margin: 94px auto 50px;
    justify-content: space-between;
    display: flex;
  }
}
.title-section__title {
  max-width: 365px;
  /*height: 84px;*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #FFFFFF;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .title-section__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .title-section__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.title-section__title-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.portfolio__card {
  object-fit: fill;
  margin: 0;
  margin-right: 0px;
  padding: 0;
  /*width: 370px;
  height: 404px;*/
  line-height: 2;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__img {
  position: relative;
  object-fit: cover;
  display: inline-block;
  max-width: 100%;
}

.portfolio-caption {
  /*z-index: 3;*/
  font-size: 18px;
  position: sticky;
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background-color: #FFFFFF;
  padding: 20px 24px;
  margin: 0;
  text-align: left;
}
.portfolio-caption__tittle {
  font-size: 18px;
}
.portfolio-caption--accent {
  text-align: left;
  font-size: 16px;
  padding: 4px 0px 20px;
  padding-left: 0px;
  color: #757575;
}

.overlay {
  /* hover overlay */
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 144px;
  overflow: hidden;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.portfolio__card:hover .overlay, .portfolio__card:focus .overlay {
  opacity: 1;
  transform: translatey(0);
}

.overlay-text {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .overlay {
    width: 100%;
    height: 374px;
  }

  .overlay-text {
    width: 320px;
    height: 266px;
    padding: 100px 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .overlay {
    width: 450px;
    height: 374px;
  }

  .overlay-text {
    width: 402px;
    height: 140px;
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    height: 354px;
  }

  .overlay-text {
    padding-top: 77px;
    padding-left: 15px;
    width: 306px;
    height: 196px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 305px;
  }

  .overlay-text {
    padding-top: 49px;
    padding-left: 15px;
    width: 370px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .images__label {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0px;
    bottom: 0px;
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    justify-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
  }
}
.team__card {
  margin: 0;
  padding: 0;
  line-height: 1.17;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-size: 16px;
  text-align: center;
  padding: 30px 99px 10px;
}
.team__caption--accent {
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
  text-align: center;
  color: var(--link-color);
}
.team__image {
  max-width: 100%;
}

.social-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding-bottom: 42px;
  margin: 0;
  padding-left: 0;
}
.social-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: var(--link-color1);
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  fill: currentColor;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  display: flex;
  color: currentColor;
  justify-content: center;
  align-items: center;
}

/*footer modifikator*/
.social-list--footer {
  justify-content: space-between;
  padding-bottom: 0;
  margin: 0;
}

.social-list__item--footer {
  margin-right: 10px;
}

.social-list__link--footer {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 0;
}

.social-list__icon--footer {
  fill: var(--light-logo-color);
}

@media screen and (min-width: 320px) {
  .clients__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .clients__icon {
    fill: currentColor;
    width: 106px;
    height: 61px;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
  }
  .clients__link {
    height: 92px;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-color1);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 210px;
    margin-left: 30px;
  }
  .clients__link:hover, .clients__link:focus {
    color: var(--logo-color);
    fill: currentColor;
    border: 1px solid var(--logo-color);
  }
  .clients__item {
    margin-right: 0;
    margin-bottom: 30px;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
  .clients__item {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 0;
    margin-left: 30px;
  }
  .clients__item {
    flex-basis: 16.6666666667%;
  }
}
.newsleter-flex {
  text-align: center;
  margin-top: 14px;
}

.newsletter-flex__tittle {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 20px;
  color: var(--light-logo-color);
}

.newsletter-submit {
  text-align: center;
  margin: 0 auto;
}
.newsletter-submit__input {
  width: 100%;
  height: 50px;
  background-color: var(--bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0px;
  padding-left: 16px;
  transition: none;
  color: var(--light-logo-color);
  outline-color: var(--link-color);
}
.newsletter-submit__input:focus {
  outline-color: var(--link-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*color: #FFFFFF;*/
}

.newsletter-button {
  /* button */
  width: 200px;
  height: 50px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--light-logo-color);
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 24px;
  border: none;
}
.newsletter-button__svg {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin: 13px auto;
  display: flex;
  fill: white;
}
.newsletter-button--margin {
  margin: 20px auto 60px;
}
.newsletter-button .newsletter-icon {
  fill: white;
}

@media screen and (min-width: 768px) {
  .newsletter-submit__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-submit {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
  .newsletter-submit__input {
    margin-right: 15px;
    max-width: 358px;
    height: 50px;
  }

  .newsletter-button--margin {
    margin: 0;
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .newsletter-submit__input {
    width: 450px;
  }
}
@media screen and (min-width: 320px) {
  .header-mobile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header-mobile-menu__button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
  .header-mobile-menu__ico {
    transition: fill 250ms, background-color 250ms;
  }
  .header-mobile-menu__ico:hover, .header-mobile-menu__ico:focus {
    fill: #2196F3;
  }
}
@media screen and (min-width: 480px) {
  .header-mobile-menu {
    position: absolute;
    top: 22px;
    right: 22px;
  }
  .header-mobile-menu__button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
  .header-mobile-menu__ico {
    transition: fill 250ms, background-color 250ms;
  }
  .header-mobile-menu__ico:hover, .header-mobile-menu__ico:focus {
    fill: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .header-mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 796px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 40px 20px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    font-size: 36px;
    color: #212121;
    background-color: transparent;
    border: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: #2196F3;
  }

  .mobile-menu__navigation-item {
    font-size: 30px;
    line-height: 40px;
  }
  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__navigation-link {
    text-decoration: none;
    color: #212121;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
    color: #2196F3;
  }

  .mobile-menu__contact-list {
    margin-top: 250px;
    margin-bottom: 64px;
  }

  .mobile-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__contact-link {
    text-decoration: none;
  }

  .mobile-menu__contact-link--phone {
    color: #2196F3;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2%;
  }

  .mobile-menu__contact-link--mail {
    color: #757575;
    font-size: 20px;
    line-height: 28px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link--mail:hover, .mobile-menu__contact-link--mail:focus {
    color: #2196F3;
  }

  .mobile-menu__socjal-list {
    display: flex;
  }

  .mobile-menu__socjal-link--line {
    display: flex;
    align-items: center;
  }
  .mobile-menu__socjal-link--line::before {
    content: "";
    display: flex;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }

  .mobile-menu__socjal-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #2196F3;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 796px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 48px 40px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    font-size: 36px;
    color: #212121;
    background-color: transparent;
    border: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: #2196F3;
  }

  .mobile-menu__navigation-item {
    font-size: 40px;
    line-height: 47px;
  }
  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__navigation-link {
    text-decoration: none;
    color: #212121;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
    color: #2196F3;
  }

  .mobile-menu__contact-list {
    margin-top: 302px;
    margin-bottom: 64px;
  }

  .mobile-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__contact-link {
    text-decoration: none;
  }

  .mobile-menu__contact-link--phone {
    color: #2196F3;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 2%;
  }

  .mobile-menu__contact-link--mail {
    color: #757575;
    font-size: 24px;
    line-height: 28px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link--mail:hover, .mobile-menu__contact-link--mail:focus {
    color: #2196F3;
  }

  .mobile-menu__socjal-list {
    display: flex;
  }

  .mobile-menu__socjal-link--line {
    display: flex;
    align-items: center;
  }
  .mobile-menu__socjal-link--line::before {
    content: "";
    display: flex;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }

  .mobile-menu__socjal-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #2196F3;
  }
}
@media screen and (min-width: 320px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 101px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contact__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }
  .contact__link:hover, .contact__link:focus {
    fill: #2196F3;
    color: #2196F3;
  }
  .contact__link--mail {
    margin-bottom: 10px;
  }
  .contact__icon {
    margin-right: 8px;
    /*transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 345px;
  }
  .contact__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    fill: #2196F3;
    color: #2196F3;
  }
  .contact__link--mail {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contact__icon {
    margin-right: 10px;
    /*transition: color 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  }
}
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  /*background-size: 480px 400px;*/
  background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/img_mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(98, 100, 110, 0.4);
}
@media screen and (min-resolution: 2dppx) {
  .title-section {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/img_mobile@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .title-section {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/img_tablet.jpg");
  }
}
@media screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .title-section {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/img_tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .title-section {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/Img.jpg");
    height: 600px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .title-section {
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/Img_desktop@2x.jpg");
  }
}

@media screen and (min-width: 320px) {
  .advantages__list {
    display: flex;
    flex-direction: column;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .advantages__tittle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    max-width: 450px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 450px;
    padding-left: 15px;
  }
  .advantages__img {
    display: flex;
    max-width: 450px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--bg-icon-team);
    margin-bottom: 30px;
  }
  .advantages__icon {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  .advantages .container {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__item {
    margin-left: 30px;
    margin-top: 30px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .advantages__tittle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    max-width: 354px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 354px;
    padding-left: 0px;
  }
  .advantages__img {
    display: flex;
    max-width: 354px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--bg-icon-team);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .container {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .advantages__list {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  .advantages__item {
    margin-left: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .advantages__tittle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    max-width: 270px;
  }

  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
  }

  .advantages__img {
    display: flex;
    max-width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--bg-icon-team);
    margin-bottom: 30px;
  }
}
.images .container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .images .container {
    display: flex;
    padding: 94px 15px;
    align-items: center;
    flex-direction: column;
  }

  .images__list {
    text-decoration: none;
    list-style: none;
    margin: 0 30px;
    justify-content: space-between;
    display: flex;
  }
  .images__item {
    position: relative;
    display: flex;
  }
  .images__item:not(:last-child) {
    margin-right: 30px;
  }
  .images__picture {
    max-width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .team .container {
    padding: 60px 0;
    text-align: center;
    flex-direction: column;
  }

  .team {
    background: var(--bg-icon-team);
  }
}
@media screen and (min-width: 480px) {
  .team .container {
    padding: 60px 15px;
  }

  .team {
    background: #f5f4fa;
  }
}
@media screen and (min-width: 768px) {
  .team .container {
    padding: 94px 15px;
  }

  .team {
    background: #f5f4fa;
  }
}
@media screen and (min-width: 1200px) {
  .team .container {
    padding: 94px 15px;
  }

  .team {
    background: #f5f4fa;
  }
}
@media screen and (min-width: 320px) {
  .team__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .team__list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .team-list__item {
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .team__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .team-list__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    margin-left: -30px;
  }

  .team-list__item {
    padding-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
    line-height: 1.17;
    background-color: var(--bg-icon-team);
    justify-content: space-between;
  }
  .team__list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
  }
  .team__tittle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .team-list__item {
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 320px) {
  .clients .container {
    padding: 60px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .clients .container {
    padding: 60px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .clients .container {
    padding: 60px 15px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
    flex-wrap: nowrap;
    padding: 0 15px;
  }
}
.page-footer {
  background-color: var(--bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.footer-aside {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-address__item {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style-type: none;
  text-align: center;
  color: white;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address__link {
  color: var(--link-color);
  text-decoration: none;
}

.logo--footer {
  padding-bottom: 16px;
  align-items: center;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.footer-social-links__tittle {
  padding-top: 60px;
  padding-bottom: 20px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.newsletter-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

@media screen and (min-width: 320px) {
  .page-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .page-footer {
    background-color: var(--bg-color);
  }

  .footer-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-address__item {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: white;
  }
  .footer-address__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-address__link {
    color: var(--link-color);
    text-decoration: none;
  }

  .footer-social-links {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .footer-social-links__tittle {
    padding-top: 60px;
    padding-bottom: 20px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .newsletter-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 780px) {
  .page-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-aside {
    flex-basis: 50%;
    padding-top: 60px;
  }

  .footer-social-links {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
    margin: 0 auto;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .footer-aside {
    align-items: flex-start;
    padding-right: 70px;
  }

  .footer-address {
    align-items: flex-start;
    padding-top: 20px;
  }
  .footer-address__item {
    text-align: left;
  }

  .footer-social-links {
    flex-basis: auto;
    display: flex;
    align-items: flex-start;
    margin-right: 78px;
  }

  .newsletter-flex {
    align-items: flex-start;
    width: 570px;
  }

  .newsletter-submit {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .page-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480) {
  .portfolio .container {
    display: block;
    padding: 0 15px;
    max-width: 480px;
  }
}
.portfolio {
  list-style-type: none;
  border: 0;
}
.portfolio__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item:nth-child(-n+5) {
    margin-bottom: 30px;
  }

  .portfolio-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;
  }
}/*# sourceMappingURL=main.css.map */