.advantages {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding: 94px 0;
    justify-content: space-between;
    margin: 0;

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        list-style: none;
    }

    &__item {
        align-items: center;
        justify-content:space-between;
        max-width: 270px;
    }
}