
.page-footer {
    background-color: var(--bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.footer-aside {
    align-items: center;
    flex-direction: column;
    display: flex;
}
.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
            &__item {
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;
                    list-style-type: none;
                    text-align: center;
                    color: #ffff;
            
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            
                &__link {
                    color: var(--link-color);
                    text-decoration: none;
                }
            
}
.logo--footer {
    padding-bottom: 16px;
    align-items: center;
}
.footer-social-links {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: start;

    &__tittle {
        padding-top: 60px;
        padding-bottom: 20px;
        color: #ffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: center;
    }
}
.newsletter-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
// --------------------480---------------------
@media screen and (min-width: 320px){
.page-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
    }

.page-footer {
    background-color: var(--bg-color);
    }

.footer-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        &__item {
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            list-style-type: none;
            text-align: center;
            color: #ffff;
        
            &:not(:last-child) {
            margin-bottom: 8px;
            }
        }

        &__link{
            color: var(--link-color);
            text-decoration: none;
        }
    }
.footer-social-links {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
        &__tittle {
            padding-top:60px;
            padding-bottom: 20px;
            color: #ffff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-align: center;
            }
    }

.newsletter-flex {
     display: flex;
     flex-direction: column;
     align-items: center;
     }   
}

//----------------780------
@media screen and (min-width: 780px) {
.page-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

.footer-aside {
    flex-basis: 50%;
    padding-top: 60px;
    }

.footer-social-links {
    flex-basis: 50%;
    }
}

//-----------------1200------------
@media screen and (min-width: 1200px) {
.page-footer .container {
    display: flex;
    margin: 0 auto;   
    }

.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    }

.footer-aside {
    align-items: flex-start;
    padding-right: 70px;
    
    }

.footer-address {
    align-items: flex-start;
    padding-top: 20px;
    
    &__item {
        text-align: left;
    }
    }
        
.footer-social-links {
    flex-basis: auto;
    display: flex;
    align-items: flex-start;
    margin-right: 78px;
    }

.newsletter-flex {
    align-items: flex-start;
    width: 570px;
    }

.newsletter-submit {
    flex-direction: row;
    }
            
}


@media screen and (min-width: 768px){
.page-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
}
