// --------------------480---------------------
@media screen and (min-width: 480px) {
    .page-footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .page-footer {
    background-color: var(--bg-color);
    }

    .footer-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        &__item {
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            list-style-type: none;
            text-align: center;
            color: #ffff;
        
            &:not(:last-child) {
            margin-bottom: 8px;
            }
        }

        &__link{
            color: var(--link-color);
            text-decoration: none;
        }
    }
    .footer-social-links {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
        &__tittle {
            padding-top:60px;
            padding-bottom: 20px;
            color: #ffff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-align: center;
            }
    }

    .newsletter-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
}
//----------------780------
@media screen and (min-width: 780px) {
    .page-footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .footer-aside {
        flex-basis: 50%;
        padding-top: 60px;

    }
    .footer-social-links {
        flex-basis: 50%;
    }
}
//------1200--------
@media screen and (min-width: 1200px) {
.page-footer .container {
        display: flex;
        margin: 0;
    
}
.footer-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
        }
    .footer-aside {
        align-items: flex-start;
        padding-right: 70px;
            }
    .footer-address {
        align-items: flex-start;
        padding-top: 20px;
    }
        
    .footer-social-links {
        flex-basis: auto;
        display: flex;
        align-items: flex-start;
        margin-right: 78px;
            }
.newsletter-flex {
        align-items: flex-start;
        width: 570px;
        height: 86px;
       
     }
         .newsletter-submit {
            // display: flex;
            // justify-content: center;
            // align-content: center;
            flex-direction: row;
         
            
         }
            
}
// .page-footer {
//     height: 252px;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: #FFFFFF;
//     background: var(--bg-color);
//     letter-spacing: 0.03em;   
// }


// .footer-aside {
//     padding-top: 60px;
//     padding-right: 70px; 
// }
// .footer-adress {
//     margin-top: 20px;

//         &__item {
//         font-style: normal;
//         align-items: stretch;
//         padding-bottom: 9px;
//         }

//         &__link {
//         color: var(--link-color);
//         text-decoration: none;
//         }
// }

// .footer-social-links {
//     display: flex;
//     align-items: baseline;
//     justify-content: baseline;
//     flex-direction: column;
    
//     &__tittle {
//         font-style: normal;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 16px;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
//         text-align: left;
//         padding: 72px 0 20px;
//         color: #FFFFFF;
//     }
// }
// .newsletter-flex {
//     display: flex;
//     align-items: baseline;
//     flex-direction: column;
//     margin-left: 77px;
// }

// .newsletter-submit {
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }



