.page-footer {
    height: 252px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    background: var(--bg-color);
    letter-spacing: 0.03em;   
}

.footer-flex {
    display: flex;
    padding-bottom: 60px;
}
.footer-aside {
    padding-top: 60px;
    padding-right: 70px; 
}
.footer-adress {
    margin-top: 20px;

        &__item {
        font-style: normal;
        align-items: stretch;
        padding-bottom: 9px;
        }

        &__link {
        color: var(--link-color);
        text-decoration: none;
        }
}

.footer-social-links {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
    
    &__tittle {
        font-style: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: left;
        padding: 72px 0 20px;
        color: #FFFFFF;
    }
}
.newsletter-flex {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: 77px;
}

.newsletter-submit {
    display: flex;
    justify-content: center;
    align-content: center;
}



