
// CUSTOMERS START
@media screen and (min-width: 320px) {
.clients .container {
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
}
// --------------------480---------------------
@media screen and (min-width: 480px) {
    // CUSTOMERS START
        .clients .container {
            padding: 60px 15px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

// --------------------768---------------------
@media screen and (min-width: 768px) {
    // CUSTOMERS START
        .clients .container {
            padding: 60px 15px;
            flex-direction: column;
    
        }
    }
// --------------------1200---------------------
@media screen and (min-width: 1200px) {

 .clients {

     &__list {
             list-style-type: none;
             display: flex;
             justify-content: space-between;
             align-items: center;
             margin:0 auto;
             flex-wrap: nowrap;
             padding: 0 15px;
         }
 }
}