
@media screen and (min-width: 320px) {
.team .container {
    padding: 60px 0;
    text-align: center;
    flex-direction: column;
    }

.team {
  background: var(--bg-icon-team);
  }
}
// --------------------480---------------------
@media screen and (min-width: 480px) {
.team .container {
  padding: 60px 15px;
  }

.team {
  background: #f5f4fa;
  }
}
// --------------------768---------------------
@media screen and (min-width: 768px) {
.team .container {
  padding: 94px 15px;
  }
    
.team {
  background: #f5f4fa;
  }
}
// --------------------1200---------------------
@media screen and (min-width: 1200px) {
.team .container {
  padding: 94px 15px;
  }

.team {
  background: #f5f4fa;
  }
}

// -----------------------320--------------------------
@media screen and (min-width: 320px) {
.team {
  &__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;  
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    }
  }
.team-list__item {
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  }    
}
// -----------------------480--------------------------
@media screen and (min-width: 480px) {
.team {
  &__tittle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
}
.team-list__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}


// -----------------------768--------------------------
@media screen and (min-width: 768px) {
.team {
  &__tittle {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 50px;
  margin-left: -30px;
  }
}
.team-list__item {
    padding-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
// -----------------------1200--------------------------
@media screen and (min-width: 1200px) {
.team {
  padding: 94px 0;
  line-height: 1.17;
  background-color: var(--bg-icon-team);
  justify-content: space-between;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      display: flex;
    }
    
    &__tittle {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.179;
      text-align: center;
      letter-spacing: 0.03em;
    }   
  }
.team-list__item {
  padding: 0;
  margin: 0;
  }
}