.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 94px 0;
    background-image: linear-gradient(rgba(98, 100, 110, 0.4),
            rgba(98, 100, 110, 0.4)),
        url("../images/Img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: rgba(98, 100, 110, 0.4);*/
}

