@mixin clients__link {
        height: 92px;
        border: 1px solid rgba(175, 177, 184, 1);
        border-radius: 4%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--link-color1);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            color: var(--logo-color);
            fill: currentColor;
            border: 1px solid var(--logo-color);
        }
}

//--------------------480---------------------
@media screen and (min-width: 320px) {
   
.clients {
    &__tittle {
        font-weight: bold;
        font-size: 28px;
        line-height: 1.179;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }

    &__icon {
        fill: currentColor;
        width: 106px;
        height: 61px;
        display: flex;
        align-items: center;
        margin: auto;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        @include clients__link;
        width: 210px;
    }

    &__item {
        margin-right: 0;
        margin-bottom: 30px;
        flex-basis: calc(100% / 2);   
    }
 }
}

// --------------------768---------------------
@media screen and (min-width: 768px) {
.clients {
    &__link {
        width: 226px;
        }
    
    &__item {
        flex-basis: calc(100% / 3);    
        }
    }
}
// --------------------1200---------------------
@media screen and (min-width: 1200px) {
.clients {
    &__link {
        width: 170px;
        padding: 0;
        }

    &__item {
        flex-basis: calc(100% / 6);
        margin-right: 30px;    
        }
    }
}