.images__label {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0px;
    bottom: 0px;

    margin:0;
    font-size: 14px;
    color: #FFFFFF;

    font-weight: 700;
    line-height: 16px;
    text-align: center;
    justify-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;


}