.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-color);

    &:hover {
        text-decoration-color: var(--logo-color);
    }

    // &--page-header {
    //     padding: 25px 0;
    //     margin-right: 93px;
    // }
        
    &--accent-header {
        color: var(--main-color);
    }

    &--accent-footer {
        color: var(--logo-color);
    }

    &--accent-footer-light {
        color: var(--light-logo-color);
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
}
}
//  @media screen and (max-width: 320px) {
//     .logo {
//         &--page-header {
//                 padding: 25px 0;
                
//     }
// }
//  }
//   @media screen and (max-width: 768px) {
//       .logo {
//           &--page-header {
//             padding-left: 15px;
//           }
//         }
//     }