.overlay {
    /* hover overlay */
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 144px;
    overflow: hidden;

    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;

    .portfolio__card:hover &,
    .portfolio__card:focus & {
            opacity: 1;
            transform: translatey(0);
        }
}

.overlay-text {
    // position: absolute;
    width: 100%;
    height: 100%;
    // left: 24px;
    padding-top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
//----------------320-----------------//
@media screen and (min-width: 320px) and (max-width:479px) {
    .overlay {
            width: 100%;
            height: 374px;
        }
    
        .overlay-text {
            width: 320px;
            height: 266px;
            padding: 100px 24px;
    
        }
    }
//----------------480-767-----------------//
@media screen and (min-width: 480px) and (max-width:767px){
    .overlay {
        width: 450px;
        height: 374px;
    }
    .overlay-text {
        width: 402px;
        height: 140px;
        padding: 77px 24px;
    
    }
}
//----------------768-----------------//
@media screen and (min-width: 768px) {
    .overlay {
        height: 354px;
        
    }
        .overlay-text {
        padding-top: 77px;
        padding-left: 15px;
        width: 306px;
        height: 196px;
        }
}

//----------------1200-----------------//
@media screen and (min-width: 1200px) {
.overlay {
    height: 305px;
 
}
  .overlay-text {
      padding-top: 49px;
      padding-left: 15px;
      width: 370px;
      height: 294px;
  }
}