.portfolio {
    &__card {
        object-fit: fill;
        margin: 0;
        margin-right: 0px;
        padding: 0;
        /*width: 370px;
        height: 404px;*/
        line-height: 2;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__img {
        position: relative;
        object-fit: cover;
        display: inline-block;
    }
}

.portfolio-caption {
    /*z-index: 3;*/
    font-size: 18px;
    position: sticky;
    opacity: 1;
    bottom: 0px;
    left: 0px;
    background-color: #FFFFFF;
    padding: 20px 24px;
    margin: 0;
    text-align: left;
        
    &--accent {
        text-align: left;
        font-size: 16px;
        padding: 4px 0px 20px;
        padding-left: 0px;
        color: #757575;
    }
}